[submodule "vimdir/bundle/a.vim"]
	path = vimdir/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vimdir/bundle/bufexplorer"]
	path = vimdir/bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vimdir/bundle/nerdtree"]
	path = vimdir/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimdir/bundle/vim-pathogen"]
	path = vimdir/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimdir/bundle/bufmru.vim"]
	path = vimdir/bundle/bufmru.vim
	url = https://github.com/vim-scripts/bufmru.vim.git
[submodule "vimdir/bundle/taglist.vim"]
	path = vimdir/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "vimdir/bundle/plantuml-syntax"]
	path = vimdir/bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule "vimdir/bundle/bufkill.vim"]
	path = vimdir/bundle/bufkill.vim
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "vimdir/bundle/argtextobj.vim"]
	path = vimdir/bundle/argtextobj.vim
	url = https://github.com/inkarkat/argtextobj.vim.git
[submodule "vimdir/bundle/tcomment_vim"]
	path = vimdir/bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vimdir/bundle/vim-surround"]
	path = vimdir/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimdir/bundle/vim-repeat"]
	path = vimdir/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimdir/bundle/vim-gitgutter"]
	path = vimdir/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
