# i3status configuration file.
# see "man i3status" for documentation.

# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
	output_format = "i3bar"
	colors = true
	interval = 5
}

order += "disk /media/FLASHDRIVE"
order += "disk /media/DEVO"
order += "disk /"
order += "disk /home"
order += "disk /data"
order += "ethernet eth0"
order += "ethernet eth1"
order += "wireless wlan0"
order += "volume master"
order += "cpu_usage"
order += "load"
order += "time"

wireless wlan0 {
	format_up = "[wlan0]—▸%essid:%quality"
	format_down = ""
	on_click 1 = "exec nm-connection-editor"
}

ethernet eth0 {
	format_up = "[eth0]—▸%ip"
	format_down = ""
	on_click 1 = "exec nm-connection-editor"
}
ethernet eth1 {
	format_up = "[eth1]—▸%ip"
	format_down = ""
	on_click 1 = "exec nm-connection-editor"
}

battery 0 {
	format = "%status %percentage %remaining"
}

time {
	format = "[📅]—▸%a %d %b %I:%M %p"
	on_click 1 = "exec wmctrl -c Calendar || gnome-calendar "
}

disk "/" {
	format = "[/]—▸%free"
	on_click 1 = "exec nemo /"
}
disk "/home" {
	format = "[/home]—▸%free"
	on_click 1 = "exec nemo /home"
	format_not_mounted = ""
}
disk "/data" {
	format = "[/data]—▸%free"
	on_click 1 = "exec nemo /data"
	format_not_mounted = ""
}
disk "/media/DEVO" {
       format = "[/media/DEVO]—▸%free"
       on_click 1 = "exec nemo /media/DEVO/"
       format_not_mounted = ""
}
disk "/media/FLASHDRIVE" {
       format = "[/media/FLASHDRIVE]—▸%free"
       on_click 1 = "exec nemo /media/FLASHDRIVE/"
       format_not_mounted = ""
}

volume master {
	format = "[🔊]—▸%volume"
	format_muted = "[🔊]—▸%volume"
	device = "default"
	mixer = "Master"
	mixer_idx = 0
	on_click 1 = "exec pactl -- set-sink-mute 1 toggle"
	on_click 2 = "exec gnome-alsamixer"
	on_click 4 = "exec pactl -- set-sink-volume 1 +2%"
	on_click 5 = "exec pactl -- set-sink-volume 1 -2%"
}

cpu_usage {
	format = "[⚙]—▸%usage"
	on_click 1 = "exec gnome-system-monitor"
}

load {
	format = "[🔥]—▸%1min"
	on_click 1 = "exec gnome-system-monitor"
}
 
cpu_temperature 0 {
	format = "%degrees°"
	path = "/sys/devices/platform/coretemp.0/temp2_input"
	max_threshold = 95
}
 
cpu_temperature 1 {
	format = "%degrees°"
	path = "/sys/devices/platform/coretemp.0/temp3_input"
	max_threshold = 95
}
 
cpu_temperature 2 {
	format = "%degrees°"
	path = "/sys/devices/platform/coretemp.0/temp4_input"
	max_threshold = 95
}
 
cpu_temperature 3 {
	format = "%degrees°"
	path = "/sys/devices/platform/coretemp.0/temp5_input"
	max_threshold = 95
}
